header {
    background-color: #333333;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

.container {
    margin: 0 auto;
    width: 90vw;
}

h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

h2 {
    font-size: 24px;
    padding: 10px;
}


#main-bio, #bio-image, #contact-info {
    float: left;
}

#bio-image {
    width: 200px;
    margin-right: 20px;
}

#main-bio {
    width: 70%;  
}

#contact-info {
    width: 30%;
}

a {
    color: #d21034;
}

p {
    font-size: 1.5;
}